.page-template-contactus {
	.main-wrap {
		padding: 0;
		margin: 0;

		.form {
			background: $primary-color;
			color: $white;
			padding: rem-calc(30 20);

			form {
				margin-top: rem-calc(30);
			}

			[type=color],
      [type=date],
      [type=datetime-local],
      [type=datetime],
      [type=email],
      [type=month],
      [type=number],
      [type=password],
      [type=search],
      [type=tel],
      [type=text], 
      [type=time],
      [type=url],
      [type=week],
      textarea {
        background: transparent;
        border-bottom: 3px solid scale-color($primary-color, $lightness: 15%);
        color: $white;

        &:focus {
        	box-shadow: none;
        	outline: 0;
        	border: 0;
        	border-bottom: 3px solid $black;
        }
      }

      textarea {
      	max-height: 100px;
      }

      label {
      	color: scale-color($primary-color, $lightness: 45%);
      	text-transform: uppercase;
      	font-weight: 900;
      }

			.button {
				margin-bottom: 0;
			}
		}

		// Info
		.info {
			padding: rem-calc(30 50);

			h2 {
				color: $black;
				font-weight: 200;
			}

			ul.address {
				list-style: none;
				margin: 0;
				margin-top: rem-calc(30);

				li {
					margin-bottom: rem-calc(30);
					padding: rem-calc(5 0 3);
					padding-left: rem-calc(20);
					background: url('../images/contact-bullets.png') repeat-y top left;

					span {
						font-size: rem-calc(14);
						font-weight: 500;
						color: #a4a4a4;
						margin-bottom: rem-calc(5);
						display: block;
					}

					p {
						font-weight: 200;
						color: $black;
						font-size: rem-calc(24);
						line-height: 1.2;
					}
				}
			}

			ul.social {
				list-style: none;
				margin: 0;
				margin-top: rem-calc(50);
				display: block;

				li {
					display: inline-block;
					color: $black;
					margin-right: rem-calc(15);

					i {
						margin-right: rem-calc(5)
					}

					a {
						color: $black;

						&:hover {
							color: $primary-color;
						}
					}
				}
			}

			@include breakpoint(small down) {
				padding: rem-calc(50 25);
			}
		}
	}


	#map {
		min-height: 500px;

		@include breakpoint(small down) {
			min-height: 300px;			
		}
	}
}