.footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  // margin-top: rem-calc(60);
  // border-top: 7px solid #e2e2e2;
  background: $black;

  // Before Footer
  .before-footer {
    padding: rem-calc(80 0 0);
    
    .footer-logo {
      margin-bottom: rem-calc(30);
      img {
        max-width: 180px;
      }
    }
  }
}

.footer {
  @include grid-row();
  padding: rem-calc(30 0 80);

  // Footer menu & copyright
  .widget_footer_menu {
    .footer-menu {
      ul {
        margin: 0;

        li {
          display: inline-block;
          margin: rem-calc(0 10);

          a {
            text-transform: uppercase;
            color: #8b8b8b;
            font-weight: 400;
            font-size: rem-calc(14);

            &:hover {
              color: $white;
            }
          }

          &:last-child {
            a {
              &:after {
                display: none;
              }
            }
          }

          .sub-menu {
            display: none;
          }
        }
      }
    }

    .copyright {
      font-size: rem-calc(13);
      font-weight: 400;
      color: #8b8b8b;

      hr {
        max-width: 90px;
        border-bottom: 1px solid #8b8b8b;
      }

      p {
        margin: 0;
      }
    }

    @include breakpoint(small down) {
      text-align: center;
    }
  }

  // Footer Social
  .widget_footer_social {
    .footer_social {
      text-align: right;

      ul {
        margin: 0;

        li {
          display: inline-block;
          margin: rem-calc(0 5);

          &:last-child {
            margin-right: 0;  
          }

          a {
            width: 37px;
            height: 40px;
            background: #0a3356;
            display: block;
            text-align: center;
            border-radius: 4px;
            line-height: 40px;

            i {
              color: $white;
              font-size: rem-calc(25);
              vertical-align: middle;
            }
          }
        }
      }

      @include breakpoint(small down) {
        text-align: center;
        margin-top: rem-calc(20);
      }
    }
  }
}